.banner-img-slideshow {
  padding-bottom: 0;
}

.banner-img-slideshow .swiper-button-next,
.banner-img-slideshow .swiper-button-prev {
  top: 43%;
}

.banner-img-slideshow .swiper-button-next,
.banner-img-slideshow .swiper-container-rtl .swiper-button-prev {
  right: 0;
}

.banner-img-slideshow .swiper-button-prev,
.banner-img-slideshow .swiper-container-rtl .swiper-button-next {
  left: 0;
}

.banner-img-slideshow .disable-slide .swiper-button-next,
.banner-img-slideshow .disable-slide .swiper-button-prev,
.banner-img-slideshow .disable-slide .swiper-pagination {
  display: none !important;
}
