.content-wrapper {
  max-width: 1920px;
}

.content-wrapper--vertical-spacing,
.dnd-section {
  padding: 30px 20px;
}

.dnd-section > .row-fluid {
  max-width: 1920px;
}

@media (max-width: 767px) {
  .content-wrapper--vertical-spacing,
  .dnd-section {
    padding: 20px;
  }
}

html {
  font-size: 16px;
}

body {
  color: #3c3c3b;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 15px;
}

a {
  color: #3c3c3b;
}

a.active,
a:hover {
  transition: color 0.15s linear, background-color 0.15s linear;
}

a.active,
a:active,
a:hover {
  color: #ff671d;
  text-decoration: none;
}

h1 {
  font-size: 80px;
  font-weight: 700;
}

h1,
h2 {
  color: #3c3c3b;
  font-family: Roboto, sans-serif;
  font-style: normal;
  text-decoration: none;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

h3,
h4 {
  color: #3c3c3b;
  font-family: Roboto, sans-serif;
  font-style: normal;
  text-decoration: none;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

h5 {
  color: #000;
  font-size: 16px;
}

h5,
h6 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

h6 {
  color: #3c3c3b;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 8px;
  }

  h2 {
    font-size: 32px;
  }
}

blockquote {
  border-left-color: #f8fafc;
}

.button,
button {
  background-color: #ff671d;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
}

.button:active,
.button:focus,
.button:hover,
button:active,
button:focus,
button:hover {
  background-color: #3c3b3b;
  color: #ff671d;
}

.submitted-message,
form {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

h3.form-title {
  background-color: #3c3c3b;
  color: #f8fafc;
}

form label,
form legend {
  color: #3c3c3b;
}

input[type='email'],
input[type='file'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='text'],
select,
textarea {
  border-color: #d1d6dc;
  color: #3c3c3b;
}

input[type='email']:focus,
input[type='file']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='tel']:focus,
input[type='text']:focus,
select:focus,
textarea:focus {
  border-color: #3c3c3b;
}

.hs-fieldtype-date .input .hs-dateinput:before,
:-moz-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder,
::placeholder {
  color: #3c3c3b;
}

.fn-date-picker td.is-selected .pika-button {
  background: #3c3c3b;
}

.fn-date-picker td .pika-button:hover {
  background-color: #3c3c3b !important;
}

.fn-date-picker td.is-today .pika-button {
  color: #3c3c3b;
}

form .hs-button,
form input[type='submit'] {
  background-color: #ff671d;
  border: 0;
  border-radius: 0;
  color: #fff;
  padding: 12px 25px;
}

form .hs-button:focus,
form .hs-button:hover,
form input[type='submit']:focus,
form input[type='submit']:hover {
  background-color: #3c3b3b;
  color: #ff671d;
}

form .hs-button:active,
form input[type='submit']:active {
  background-color: #ff8f45;
  border-color: #646463;
  color: #fff;
}

table {
  background-color: #fff;
}

table,
td,
th {
  border-color: #3c3c3b;
}

td,
th {
  color: #3c3c3b;
}

thead td,
thead th {
  background-color: #3c3c3b;
  border-bottom-color: #3c3c3b;
  color: #fff;
}

tfoot td {
  background-color: color(theme.tables.footer_background_color);
  color: #3c3c3b;
}

tbody + tbody {
  border-top-color: #3c3c3b;
}

.header {
  background-color: #fff;
}

.header__language-switcher .lang_list_class li a,
.header__language-switcher-label-current,
.header__logo .logo-company-name,
body .navigation-primary a {
  color: #3c3c3b;
  font-family: Roboto, sans-serif;
}

.header__language-switcher .lang_list_class li a:focus,
.header__language-switcher .lang_list_class li:hover a,
.header__language-switcher-label-current:focus,
.header__language-switcher-label-current:hover,
body .navigation-primary a:focus,
body .navigation-primary a:hover {
  color: #ff671d;
}

body .header__language-switcher .lang_list_class li a:active,
body .header__language-switcher-label-current:active,
body .navigation-primary a:active {
  color: #646463;
}

body .navigation-primary .submenu.level-1 > li > a.active-item:after {
  background-color: #3c3c3b;
}

body .header__language-switcher .lang_list_class,
body .submenu.level-2 {
  background-color: #f8fafc;
  border-color: #494a52;
}

body .submenu.level-2 > li:first-child:before {
  border-color: #494a52;
}

body .header__language-switcher .lang_list_class:before {
  border-bottom-color: #494a52;
}

body .header__language-switcher .lang_list_class li:hover,
body .submenu.level-2 .menu-item .menu-link:focus,
body .submenu.level-2 .menu-item .menu-link:hover,
body .submenu.level-2 > li:first-child.focus:before,
body .submenu.level-2 > li:first-child:hover:before {
  background-color: #f8fafc;
}

.header__language-switcher .lang_list_class.first-active:after {
  border-bottom-color: #f8fafc;
}

.header__language-switcher .lang_list_class li a,
.header__language-switcher-label-current {
  font-family: Roboto, sans-serif;
}

.header__language-switcher-label-current:after {
  border-top-color: #3c3c3b;
}

@media (max-width: 767px) {
  .header__navigation {
    background-color: #f8fafc;
  }

  .header__navigation-toggle svg,
  .menu-arrow svg {
    fill: #3c3c3b;
  }
}

.footer {
  background-color: #f1f3f4;
}

.footer a,
.footer div,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 .footer p,
.footer span {
  color: #3c3c3b;
}

.blog-post__date {
  border-color: #3c3c3b;
}

.blog-card__tag-link,
.blog-card__title a,
.blog-post__author-name,
.blog-post__tag-link,
.blog-tag-filter__menu-link {
  color: #3c3c3b;
}

.blog-card__tag-link:focus,
.blog-card__tag-link:hover,
.blog-card__title a:focus,
.blog-card__title a:hover,
.blog-post__author-name:focus,
.blog-post__author-name:hover,
.blog-post__tag-link:focus,
.blog-post__tag-link:hover,
.blog-tag-filter__menu-link:focus,
.blog-tag-filter__menu-link:hover {
  color: #141413;
}

.blog-card__tag-link:active,
.blog-card__title a:active,
.blog-post__author-name:active,
.blog-post__tag-link:active,
.blog-tag-filter__menu-link:active {
  color: #646463;
}

.blog-tag-filter__menu-link--active-item:after {
  background-color: #3c3c3b;
}

.blog-pagination__link {
  color: #3c3c3b;
}

.blog-pagination__link--active:after,
.blog-pagination__next-link:after,
.blog-pagination__prev-link:after {
  background-color: #3c3c3b;
}

.blog-post__title {
  color: #3c3c3b;
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
}

.blog-post__author {
  background-color: #f8fafc;
}

#comments-listing .comment-reply-to {
  color: #0270e0;
}

#comments-listing .comment-reply-to:focus,
#comments-listing .comment-reply-to:hover {
  color: #0048b8;
}

#comments-listing .comment-reply-to:active {
  color: #2a98ff;
}

body .icon svg {
  fill: #3c3c3b;
}

body .tns-nav button.tns-nav-active,
body .tns-nav button:focus,
body .tns-nav button:hover {
  background-color: #3c3c3b;
}

body .team-member__description {
  background-color: #f8fafc;
}
